{% extends "base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'users/css/auth.css' %}">
<link rel="stylesheet" href="{% static 'store/css/base.css' %}">

<style>
.account-bg {
  background-image: url("{% static 'users/images/veggies.jpg' %}");
}
</style>

<div class="auth-bg account-bg">

  <div class="auth-card">
    <h1 class="auth-title">{% trans "Personal Information" %}</h1>
    <ul class="list-group">
        <li class="list-group-item"><strong>{% trans "Name" %}:</strong> {{ customer.name  }}</li>
        <li class="list-group-item"><strong>{% trans "Email" %}:</strong> {{ customer.email }}</li>
        <li class="list-group-item"><strong>{% trans "Address" %}:</strong> {{ customer.address }}</li>
        <li class="list-group-item"><strong>{% trans "Phone" %}:</strong> {{ customer.phone }}</li>
    </ul>
    <a href="{% url 'account_info_edit' %}" class="btn btn-primary mt-3">{% trans "Edit Information" %}</a>
    <a href="{% url 'account_home' %}" class="btn btn-secondary mt-3">{% trans "Back to Account" %}</a>
  </div>
</div>
{% endblock %}
