{% extends 'base.html' %}
{% block title %}{% trans "Login" %}{% endblock %}
{% block content %}
{% load static %}
{% load i18n %}
<link rel="stylesheet" href="{% static 'users/css/auth.css' %}">
<link rel="stylesheet" href="{% static 'store/css/base.css' %}">

<div class="auth-bg">

  <div class="auth-card">
    <h1 class="auth-title">{% trans "Login" %}</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ form.username.id_for_label }}" class="form-label">{% trans "Email or Username" %}</label>
            {{ form.username}}
            <div class="form-text">{% trans "You can sign in using your email address or your username." %}</div>

        </div>
        <div class="mb-3">
            {{ form.password }}
        </div>
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <button type="submit" class="btn btn-success" style="width: 300px;">{% trans "Sign in" %}</button>
    </form>
    <p class="mt-3 text-center">{% trans "Don't have an account?" %}</p>
    <a href="{% url 'register' %}" class="btn btn-secondary" style="width: 300px;">{% trans "Register here" %}</a>
  </div>
</div>
{% endblock %}
