{% extends "base.html" %}
{% block title %}Mi Carrito{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2>🛒 Mi Carrito ({{ total_items }} items)</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>
                    <form method="post" action="{% url 'remove_from_cart' item.product.id_product %}" class="d-flex">
                        {% csrf_token %}
                        <input type="number" name="quantity" value="1" min="1" class="form-control form-control-sm me-2" style="width:70px;">
                        <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                    </form>
                </td>
                <td>${{ item.product.price }}</td>
                <td>{{ item.quantity }}</td>
                <td>${{ item.get_subtotal }}</td>
                
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">No hay productos en el carrito.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h4>Total: ${{ total_price }}</h4>
</div>
{% endblock %}

